  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="fontawesome-5.5/css/all.min.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("static", filename="slick/slick.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("static", filename="slick/slick-theme.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("static", filename="slick/magnific-popup/magnific-popup.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("static", filename="slick/slick.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/templatemo-style.css") }}"/>

    <!--
	The Town
	https://templatemo.com/tm-525-the-town
	-->
  </head>