<!DOCTYPE html>
<html lang="en">

  {% include "header.html" %}

  <body>
    <!-- Hero section -->
    <section id="hero" class="text-white tm-font-big tm-parallax">
      <!-- Navigation -->


        <div class="search-bar">
                <div style="text-align: center;">
                    <h2 class="tm-hero-title">Lookup a City:</h2>
                    <form action="/lookup" method="get">
                            <input type="text" placeholder="Search.." name="search" style="line-height: normal">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
        </div>
    </section>


    <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.singlePageNav.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>




  </body>
</html>