<!DOCTYPE html>
<html lang="en">
  {% include "header.html" %}
  <body>
    <!-- Hero section -->
    <section id="hero" class="text-white tm-font-big tm-parallax">
      <!-- Navigation -->
      {% include "navbar.html" %}


      <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
          <h2 class="tm-hero-title"> <center> {{ city }}</center></h2>
            <p class="tm-hero-subtitle">
          <center> No information yet for {{ city }}! Check back later! </center>
            </p>
        </div>
      </div>


    <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.singlePageNav.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  </body>
</html>