<!DOCTYPE html>
<html lang="en">
  {% include "header.html" %}
  <body>
    <!-- Hero section -->
    <section id="hero" class="text-white tm-font-big tm-parallax">
      <!-- Navigation -->
      {% include "navbar.html" %}
      <div class="tm-next tm-intro-next">
        <div class="tm-next tm-intro-next" align="center" style="padding-top: 20%">
            {% if city == "" %}
            <h1 class="tm-hero-title">Invalid Search!</h1>
            {% else %}
            <h1 class="tm-hero-title">Results for {{ city }}</h1>
            {% endif %}
        </div>
        <a href="#results" class="text-center tm-down-arrow-link" style="padding-top: 20%">
          <i class="fas fa-3x fa-caret-down tm-down-arrow"></i>
        </a>
      </div>
    </section>

    <div id = "results" class="text-center tm-hero-text-container">
        <br><br>
        <br><br>
        <br><br>
        <div class="tm-hero-text-container-inner">
        <div style="text-align: center;">
        <br><br>
                {% if not city == "" %}
                    {% if not img == none %}
                     <img src="{{ img }}">
                    {% endif %}
                {% for row in data %}
                    {% if not row[11] == "" %}
                        <h3><a href="{{ row[11] }}">{{ row[1] }} - {{ row[6] }}/{{ row[5] }}</a></h3>
                    {% else %}
                        <h3>{{ row[1] }} - {{ row[6] }}/{{ row[5] }}</h3>
                    {% endif %}
                    <h4>Sentiment Score: {{'%0.3f'| format(row[9]|float)}}</h4>
                    <p style="padding-left: 15%; padding-right: 15%;">{{ row[10] }}</p>
                {% endfor %}
                {% else %}
                    <h3>No results!</h3>
                {% endif %}
            </div>
        </div>
        <br><br>
      </div>


    {% include "footer.html" %}

    <script src="{{ url_for("static", filename="js/jquery-1.9.1.min.j") }}"></script>
    <script src="{{ url_for("static", filename="slick/slick.min.js") }}"></script>
    <script src="{{ url_for("static", filename="magnific-popup/jquery.magnific-popup.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/jquery.singlePageNav.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>

    <script>

      function getOffSet(){
        var _offset = 450;
        var windowHeight = window.innerHeight;

        if(windowHeight > 500) {
          _offset = 400;
        }
        if(windowHeight > 680) {
          _offset = 300
        }
        if(windowHeight > 830) {
          _offset = 210;
        }

        return _offset;
      }

      function setParallaxPosition($doc, multiplier, $object){
        var offset = getOffSet();
        var from_top = $doc.scrollTop(),
          bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
        $object.css({"background-position" : bg_css});
      }

      // Parallax function
      // Adapted based on https://codepen.io/roborich/pen/wpAsm
      var background_image_parallax = function($object, multiplier, forceSet){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        // $object.css({"background-attatchment" : "fixed"});

        if(forceSet) {
          setParallaxPosition($doc, multiplier, $object);
        } else {
          $(window).scroll(function(){
            setParallaxPosition($doc, multiplier, $object);
          });
        }
      };

      var background_image_parallax_2 = function($object, multiplier){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({"background-attachment" : "fixed"});
        $(window).scroll(function(){
          var firstTop = $object.offset().top,
              pos = $(window).scrollTop(),
              yPos = Math.round((multiplier * (firstTop - pos)) - 186);

          var bg_css = 'center ' + yPos + 'px';

          $object.css({"background-position" : bg_css });
        });
      };

      $(function(){
        // Hero Section - Background Parallax
        background_image_parallax($(".tm-parallax"), 0.30, false);
        background_image_parallax_2($("#contact"), 0.80);

        // Handle window resize
        window.addEventListener('resize', function(){
          background_image_parallax($(".tm-parallax"), 0.30, true);
        }, true);

        // Detect window scroll and update navbar
        $(window).scroll(function(e){
          if($(document).scrollTop() > 120) {
            $('.tm-navbar').addClass("scroll");
          } else {
            $('.tm-navbar').removeClass("scroll");
          }
        });

        // Close mobile menu after click
        $('#tmNav a').on('click', function(){
          $('.navbar-collapse').removeClass('show');
        })

        // Scroll to corresponding section with animation
        $('#tmNav').singlePageNav();

        // Add smooth scrolling to all links
        // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
        $("a").on('click', function(event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;

            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 400, function(){
              window.location.hash = hash;
            });
          } // End if
        });

        // Pop up
        $('.tm-gallery').magnificPopup({
          delegate: 'a',
          type: 'image',
          gallery: { enabled: true }
        });

        // Gallery
        $('.tm-gallery').slick({
          dots: true,
          infinite: false,
          slidesToShow: 5,
          slidesToScroll: 2,
          responsive: [
          {
            breakpoint: 1199,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 767,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
        });
      });
    </script>
  </body>
</html>